<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title>Coder News</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="content" id="#home-page">
      <button onclick="location.href='/submit'">Submit a link</button>
    </div>
  </body>
</html>
