<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title>Coder News: Submit</title>
  </head>

  <body>
    <%- include('partials/header') %>
    <div class="content" id="submit-page">
      <h2>Submit a link</h2>
      <form action="/submit" method="POST" id="submit-form">
        <div class="form-row">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" size="60" autofocus />
        </div>
        <div class="form-row">
          <label for="url">URL</label>
          <input type="text" name="url" id="url" size="60" />
        </div>
        <button type="submit">Submit</button>
        <button type="button" onclick="location.href='/'">Cancel</button>
      </form>
    </div>
  </body>
</html>
