<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title>Coder News</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="content" id="notFound-page">
      <h2>Not Found</h2>
      <p>The requested page was not found.</p>
    </div>
  </body>
</html>

