<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title>Coder News: <%= story.title %></title>
    <script src="/js/voting.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="content" id="comments-page">
      <%- include('partials/story', { story: story }) %>

      <% if (locals.user) { %>
        <form id="commentForm">
          <div class="form-row">
            <textarea id="comment" name="comment" rows="6" cols="60"></textarea>
          </div>
          <div class="form-row">
            <button>Add comment</button>
          </div>
        </form>
      <% } %>
    </div>
  </body>
</html>
