@import 'submit';

$link-color: #83A1B4;
$button-color: #83B4AF;
$header-color: #8489B5;
$error-color: #A30000;

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: $header-color;
  border-bottom: 5px solid darken($header-color, 10%);
  padding: 0.5em;

  h1 {
    margin: 0;

    a {
      text-decoration: none;
      color: #FFFFFF;
    }
  }
}

.content {
  padding: 1em;
}

.form-row {
  margin: 0.5em;

  label {
    display: inline-block;
    width: 200px;
  }

  div.error {
    color: $error-color;
    margin-left: 200px;
    font-size: 0.8em;
  }

  .validation-error {
    color: $error-color;
  }
}

.story {
  margin: 0.5rem;

  h4 {
    margin: 0;
    display: inline-block;

    a {
      color: $link-color;
      text-decoration: none;

      &:hover {
        color: lighten($link-color, 10%);
      }
    }
  }

  .info {
    font-size: 0.8em;
    color: #999999; 
  }
}

input {
  &.error {
    border: 2px solid $error-color;
  }
}

button {
  background-color: $button-color;
  border-radius: 3px;
  border: 1px solid darken($button-color, 10%);
  border-bottom-width: 2px;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: #FFFFFF;

  &:hover {
    background-color: lighten($button-color, 10%);
    border-color: $button-color;
    transition: background-color 0.2s, border-color 0.2s;
  }
}
