#submit-page .form-row label {
  width: 50px; }

body {
  font-family: Arial, sans-serif;
  margin: 0; }

header {
  background-color: #8489B5;
  border-bottom: 5px solid #646aa2;
  padding: 0.5em; }
  header h1 {
    margin: 0; }
    header h1 a {
      text-decoration: none;
      color: #FFFFFF; }

.content {
  padding: 1em; }

.form-row {
  margin: 0.5em; }
  .form-row label {
    display: inline-block;
    width: 200px; }

.story {
  margin: 0.5rem; }
  .story h4 {
    margin: 0;
    display: inline-block; }
    .story h4 a {
      color: #83A1B4;
      text-decoration: none; }
      .story h4 a:hover {
        color: #a3b9c7; }
  .story .info {
    font-size: 0.8em;
    color: #999999; }

button {
  background-color: #83B4AF;
  border-radius: 3px;
  border: 1px solid #63a19a;
  border-bottom-width: 2px;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: #FFFFFF; }
  button:hover {
    background-color: #a3c7c4;
    border-color: #83B4AF;
    transition: background-color 0.2s, border-color 0.2s; }
